{% load content %}
<div id="js-profile" class="js-tab-content">
    {% if profile_form.instance and profile_form.instance.photo %}
        <div style="position: relative">
            <div style="position: absolute; right:0;"><a href="{{ profile_form.instance.photo.url }}" class="b-black-link"><img src="{% MEDIA_URL %}{{ profile_form.instance.photo.get_thumbnail.0 }}"></a></div>
        </div>
    {% endif %}

    <table class="profile_table">
        {% if reg_form %}
            {% if reg_form.str_errors %}
                <tr><td colspan="2" class="form_error">{{ reg_form.str_errors }}</td></tr>
            {% endif %}
            <tr>
                <td class="title">Ник</td>
                <td>{{ reg_form.login }}</td>
            </tr>
            <tr>
                <td class="title">Email</td>
                <td>{{ reg_form.email }}</td>
            </tr>
            <tr>
                <td class="title">Пароль на сайте</td>
                <td>{{ reg_form.passwd }}</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td></td>
            </tr>
        {% endif %}

        {% if profile_form.str_errors %}
            <tr><td colspan="2" class="form_error">{{ profile_form.str_errors }}</td></tr>
        {% endif %}

        <tr><td class="title">ФИО</td><td>{% if profile_form.name %}{{ profile_form.name }}{% else %}{{ profile_form.instance.name }}{% endif %} {% locker 'name' profile_form is_superuser %}</td></tr>
        <tr><td class="title">Возраст, лет</td><td>{{ profile_form.age }}</td></tr>
        <tr><td class="title">Город</td><td>{{ profile_form.city }}</td></tr>
        <tr><td class="title">ICQ</td><td>{{ profile_form.icq }}</td></tr>
        <tr><td class="title">Телефон</td><td>{{ profile_form.tel }}</td></tr>
        <tr><td class="title">Медицинские особенности</td><td>{{ profile_form.med }}</td></tr>
        <tr><td>&nbsp;</td><td></td></tr>

        {% if profile_form.role %}
            <tr><td class="title">Роль</td><td><nobr>{{ profile_form.role }}  {% locker 'role' profile_form is_superuser %}</nobr></td></tr>

            <tr class="special_role"><td class="title"><small>или создайте свою</small></td><td>Имя: {{ profile_form.role_name }}</td></tr>
            <tr class="special_role"><td class="title">&nbsp;</td><td>Профессия: {{ profile_form.role_profession }}</td></tr>
        {% else %}
           <tr><td class="title">Роль</td><td>{{ profile_form.instance.role.rolesection.title }},
                                              {{ profile_form.instance.role.name }},
                                              {{ profile_form.instance.role.profession }} {% locker 'role' profile_form is_superuser %}
                                              </td></tr>
        {% endif %}
        <tr><td>&nbsp;</td><td></td></tr>

        <tr><td class="title">Оружие (<small><a href="/article/3" target="_blank">правила</a></small>)</td>
            <td>    {% if profile_form.gun %}
                        {{ profile_form.gun }}
                    {%  else %}
                        {{ profile_form.instance.gun }}
                    {% endif %}
                    {% locker 'gun' profile_form is_superuser %}</td></tr>
        <tr><td class="title">Фото<br></td><td>{{ profile_form.photo }}</td></tr>
        {% if admin %}
            <tr><td class="title">Уплочено<br></td><td>{{ profile_form.paid }}</td></tr>
        {% endif %}
        <tr><td>&nbsp;</td><td></td></tr>

    </table>
</div>