{% load content %}{% load russian %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <title>{% block title %}Sin City 2012{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <link rel="stylesheet" href="{% MEDIA_URL %}main.css?1"/>

    <script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js" charset="utf-8"></script>
	<script src="{% MEDIA_URL %}js/dropdown.js" type="text/javascript"></script>

    {% block head %}{% endblock %}
</head>
<body>
<!-- start: wrapper -->
<div id="wrapper">

<!-- start: header -->
<div id="header" align="center" font color="FF0000">

<h1><a href="/">Sin City 2012</a></h1>

</div>
<!-- end: header -->

<!-- NOTE: top page menu inserted here -->
<!-- start: top page menu -->
	{% navigation %}
<!-- end: top page menu -->

<div id="container">
<table class="main">
	<tr>
		<td>
			<div class="sidebar">
			<!--<ul>
				<li id="categories-2" class="widget widget_categories"><h2 class="widgettitle">Рубрики</h2>
						<ul>
					<li class="cat-item cat-item-7"><a href="/?cat=7" title="Разные истории и легенды города. Любой игрок может написать статью и отправить мастерам. Если Ваша легенда соответствует атмосфере мира и идее игры, то она появится на сайте. Таким образом Вы сможете заявить о своем персонаже, рассказать о каких либо событиях.">Городские легенды</a>
				</li>
					<li class="cat-item cat-item-3"><a href="/?cat=3" title="Просмотреть все записи в рубрике Новости">Новости</a>

				</li>
					<li class="cat-item cat-item-6"><a href="/?cat=6" title="Различные статьи касающиеся проекта">Статьи</a>
				</li>
						</ul>
				</li>

				</ul>
			-->

			{% if user %}
				Привет, {{ user.username }}
				<br><a href="{% url messages_inbox %}">
				   {% if messages_inbox_count %}Новых сообщений: {{ messages_inbox_count }}
				   {% else %}личная почта
				   {% endif %}</a>

				{% if is_superuser %}
				   <div><a href="/admin/">Админка</a></div>
                   <div><a href="/reports/">Отчеты</a></div>
				{% endif %}

				<br><a href="{% url logout %}">Выйти</a>
				<br /><br />
			{% else %}
				<a href="{% url login %}" title="Войти">Войти на сайт</a>
			{% endif %}
			</div>

		</td>

		<td>
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</td>

	</tr>
</table>
</div>



<!-- start: footer -->

<div id="footer">

<span class="footercredits">Copyright &#169; 2011 <a href="http://sincity2012.ru">Sin City 2012</a></span>

</div>
<!-- end: footer -->


</div>

<!-- end: wrapper -->


{% if not is_devel %}
	<!-- Yandex.Metrika counter -->
	<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>