{% extends "base.html" %}
{% load content %}

{% block content %}
    <h1>Форма заявки</h1>
    {% if reg_form %}
        <div>Если вы уже регистрировались на этом сайте, войдите <a href="{% url login %}">здесь</a>.</div><br>
        {% if message %}
            <div>{{ message }}</div><br>
        {% endif %}
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">
        {% if current_user %}
            <input type="hidden" name="change_user" id="id_change_user" value="{{ current_user }}" />
        {% endif %}

        {% include "form/tabs.html" %}

        {% include "form/profile.html" %}

        {% include "form/connections.html" %}

        {% include "form/quest.html" %}

        {% include "form/layers.html" %}

        <input type="submit" value="Сохранить" style="margin-left: 200px; padding: 5 20; font-size: 150%"/>

    </form>

    <script>
      function update_role_fields(){
            var role_id = $("#id_role").attr('value');
            if( role_id == '0'){
                $("#id_role_name").removeAttr('disabled').attr('value', '');
                $("#id_role_profession").removeAttr('disabled').attr('value', '');
                $('.special_role').show();
            }else{
                $("#id_role_name").attr('disabled', 'disabled').attr('value', roles[role_id][1]);
                $("#id_role_profession").attr('disabled', 'disabled').attr('value', roles[role_id][3]);
                $('.special_role').hide();
            }
            recalc();
      }

      roles = { {% for role in profile_form.roles %}
               '{{ role.pk }}': ['{{ role.name }}', '{{ role.profession }}']{% if not forloop.last %}, {% endif %}
               {% endfor %}
      };

      $(function(){
        $("#id_role").change(update_role_fields);
        update_role_fields();
      });


      function lock(field, action){
        $.getJSON('/lock?field='+field+'&action='+action+'&change_user='+$('#id_change_user').attr('value'),
                  function(data){
                      if(data.success){
                        if(action == 'lock'){
                            $('#'+field+'_lock').hide();
                            $('#'+field+'_unlock').show();
                        }else{
                            $('#'+field+'_lock').show();
                            $('#'+field+'_unlock').hide();
                        }
                    }else{
                        alert(data.error);
                    }
                  });
        return false;
      };

      function lock_rel(rel, action){
        $.getJSON('/lock_rel?rel='+rel+'&action='+action+'&change_user='+$('#id_change_user').attr('value'),
                  function(data){
                      if(data.success){
                        if(action == 'lock'){
                            $('#rel_'+rel+'_lock').hide();
                            $('#rel_'+rel+'_unlock').show();
                        }else{
                            $('#rel_'+rel+'_lock').show();
                            $('#rel_'+rel+'_unlock').hide();
                        }
                    }else{
                        alert(data.error);
                    }
                  });
        return false;
      };
      </script>
{% endblock %}