{% load content %}{% load pytils_dt %}<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ru" lang="ru">

<head>
    <title>{% block title %}Sin City 2012{% endblock %}</title>

    <meta http-equiv="content-type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <link rel="stylesheet" href="{% MEDIA_URL %}main.css?2"/>

    <script type="text/javascript" src="http://yandex.st/jquery/1.6.2/jquery.min.js" charset="utf-8"></script>
	<script src="{% MEDIA_URL %}js/dropdown.js" type="text/javascript"></script>

    {% block head %}{% endblock %}
</head>
<body>
<!-- start: wrapper -->
<div id="wrapper">

<!-- start: header -->
<table class="b-header">
    <tr>
        <td class="b-header_left"><img src="{% MEDIA_URL %}i/header_left.jpg" /></td>
        <td class="b-header_center"><h1><a href="/">Sin City 2012</a></h1></td>
        <td class="b-header_right"><img src="{% MEDIA_URL %}i/header_right.jpg" /></td>
    </tr>
</table>
<!-- end: header -->

<!-- NOTE: top page menu inserted here -->
<!-- start: top page menu -->
	{% navigation %}
<!-- end: top page menu -->

<div id="container">
<table class="main">
	<tr>
		<td>
			<div class="sidebar">
			{% if user %}
				Привет, {{ user.username }}
				<br><a href="{% url messages_inbox %}">
				   {% if messages_inbox_count %}Новых сообщений: {{ messages_inbox_count }}
				   {% else %}личная почта
				   {% endif %}</a>

				{% if is_superuser %}
				   <div><a href="/admin/">Админка</a></div>
                   <div><a href="/reports/">Отчеты</a></div>
				{% endif %}

				<br><a href="{% url logout %}">Выйти</a>
				<br /><br />
			{% else %}
				<a href="{% url login %}" title="Войти">Войти на сайт</a>
			{% endif %}
			</div>

		</td>

		<td class="content_zone">
			<div id="content">
				{% block content %}
				{% endblock %}
			</div>
		</td>

	</tr>
</table>
</div>



<!-- start: footer -->

<div id="footer">

<span class="footercredits">Copyright &#169; 2011 <a href="http://sincity2012.ru">Sin City 2012</a></span>

</div>
<!-- end: footer -->


</div>

<!-- end: wrapper -->


{% if not is_devel %}
    <!-- Yandex.Metrika counter -->
    <div style="display:none;"><script type="text/javascript">
        (function(w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter12224113 = new Ya.Metrika({id:12224113, enableAll: true, webvisor:true});
                }
                catch(e) { }
            });
        })(window, "yandex_metrika_callbacks");
    </script></div>
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
    <noscript><div><img src="//mc.yandex.ru/watch/12224113" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
	<!-- /Yandex.Metrika counter -->
{% endif %}
</body>
</html>